[2016-03-18 19:56] arlissc opened #1 "Global Sprint 2016 - PLAN"
Here is the link to the planning document for the Global Sprint 2016

https://docs.google.com/a/mozilla.com/document/d/1COL9rNBvVEVVPod3ecAIdE53736ut0xhsOo-ZyxJEb4/edit?usp=sharing

[2016-03-18 20:01] acabunoc opened #2 "Make a landing page for the global sprint 2016"

[2016-03-18 20:01] stephwright opened #3 "Special Questions for Open Data submissions"
Identify questions needed for open data submissions.
Such as:
Data Stuff
- where is the data stored ?
    * Is it accessible by everyone?
    * If not, what needs to happen so participants can access?
- in what format is the data?
  * do participants need special and/or non-open software to use the data?
- are there licensing (or other) restrictions on the data for reuse?
- how large is the data f

[2016-03-18 20:04] acabunoc commented on #2
@auremoser - let me know if want to help here!

[2016-03-21 14:57] arlissc opened #4 "ROADMAP"
**ROADMAP:**

**T-12 Weeks: (week of Feb 29 2016)**

- [x] Build Global Sprint PLAN
- [x] Kick-off Meeting - Proposed:  Wednesday March 09, 10:30 AM ET
- [x] SAVE THE DATE - blog post / email blast / Twitter post (maybe once blog post is written)
- [x] Finalize Project Team roles & responsibilities
- [x] Design Project submission form (new for 2016)
- [x] Design Site Host submission form (new for

[2016-03-21 21:04] acabunoc commented on #2
https://www.mozillascience.org/global-sprint-2016

Quick pass ^

[2016-03-22 02:00] auremoser commented on #2
I'm sorry abby, i missed this notification. thanks for stepping in. I had thought the landing page would be more about logistics and site locations. Can you embed a map if I give you an iframe? I'm not sure we need an external page if so.

[2016-03-22 12:32] acabunoc commented on #2
No worries! Arliss needed a page listing some of our current projects before she her announcement post.

I left off all the map stuff and a lot of extra info for now. There'll be lots of updates over the next few weeks! Also, by the time the spring comes around we should be on our new site

[2016-03-22 20:28] auremoser commented on #2
Hey @arlissc + @acabunoc: so I made a little one here, it's a gh-page on the global sprint repo, when participants fill out the venue form, I can add it to the map and table with a custom etherpad we make for them: <http://mozillascience.github.io/global-sprint-2016/> I guess we could also just merge it to what Abby has, just let me know what you want me to do, I'd already started this so it's not

[2016-03-22 23:53] acabunoc commented on #2
Hey @auremoser! We should probably use the page on the website since it's crosslinked with all projects (& participants if we add them).

See events linked on the [phageparser project page](https://mozillascience.org/projects/pathogens):
![screen shot 2016-03-22 at 19 51 49](https://cloud.githubusercontent.com/assets/617994/13971576/96597f38-f067-11e5-8837-f1177664169c.png)

You can look at what w

[2016-03-22 23:53] acabunoc commented on #2
@auremoser sorry you went through all the work to setup a separate page!

[2016-03-22 23:56] auremoser commented on #2
O.k. @acabunoc , that's fine. I guess I thought after talking to arliss we were going to have a map with the sites defined and the etherpads, but maybe not, I guess it can just sit there for now.
No worries, I like making websites.

[2016-03-23 00:22] acabunoc commented on #2
@auremoser we can def have those things (some of them are on the 2015 site!), but it should be on the main website for crosslinking / event listing purposes. And we should only add them once we can actually populate things

makes sense?

[2016-03-23 01:06] auremoser commented on #2
Oh sorry, I didn't see the 2015 site, I guess i was confused about why I was assigned this then. The other site totally makes sense, feel free to go ahead with that, anyone can delete the gh-pages if you'd rather not have that public.

[2016-03-23 01:06] #2 closed

[2016-03-23 03:18] andreabedini commented on #1
the link seems to have some issue but copy and pasting the url works for me

[2016-03-23 10:56] acabunoc commented on #2
Oh sorry, the issue was assigned to me! Flagged you in case you had time on Monday :)

Sorry there was a quick deadline on this one

[2016-03-23 14:57] stephwright commented on #1
I think the link is fixed now

[2016-03-28 16:17] acabunoc opened #5 "Add project submission & host submission forms to landing page"
We need to add info for submitting projects & sites to the landing page.

page: https://www.mozillascience.org/global-sprint-2016
template to update: https://github.com/mozillascience/site/blob/master/views/events/globalsprint2016.jade

owner: @acabunoc
accountable: @acabunoc or @auremoser

@auremoser - let me know if you want to work on this / have time. NOTE: this is *not* currently assigned to

[2016-03-28 18:06] auremoser commented on #5
Ok, thanks @acabunoc, I'll work on it and ask if I have questions!

[2016-03-28 19:56] auremoser commented on #5
Done, just committed on https://github.com/mozillascience/site/commit/4dd895c8c4d863dbc7dddeb22b14c9c52493be35

Looks like this, nothing fancy, but functional:
![site](https://cloud.githubusercontent.com/assets/1559703/14088438/6b6a6a72-f4e4-11e5-8794-8eff47d78b07.png)

[2016-03-28 21:23] acabunoc commented on #5
Woo, thanks so much @auremoser!

Couple things left:
- [ ] some small tweaks on copy
  * bring in more from [@arlissc's blog post](https://mozillascience.org/global-sprint-2016-site-and-project-applications-open), specifically the 'projects must' section before they apply
- [ ] push this to our live site - @acabunoc can do this (assign issue to me when we're ready for this!)

I can take a look at

[2016-03-28 21:45] auremoser commented on #5
I didn't realize you had setup staging, feel free to push the changes whenever you're ready, I added the bullet details and linked to the blog post:
![site](https://cloud.githubusercontent.com/assets/1559703/14091194/ae214ebc-f4f3-11e5-8534-5516ac521bed.png)

[2016-03-29 14:05] acabunoc commented on #5
Nice! Thanks!

I'll push to production once [this](https://github.com/mozillascience/site/commit/4dd895c8c4d863dbc7dddeb22b14c9c52493be35#commitcomment-16878236) is cleared up

[2016-03-29 14:30] auremoser commented on #5
O.k. done, feel free to close when you're ready to merge.

[2016-03-29 14:41] acabunoc commented on #5
It's live :) closing :+1: :heart:

[2016-03-29 14:41] #5 closed

[2016-03-29 18:35] acabunoc opened #6 "Migrate projects to github issues"
copied from chat w/ mavis

-----

https://github.com/mmmavis/test-mozfest-proposals-migrator i suggest you to do a test run first as im not 100% confident about the reliability of this
1:33 PM
hah
1:34 PM
so basically put ur creds in .env
1:34 PM
and change other configs here: https://github.com/mmmavis/test-mozfest-proposals-migrator/blob/master/app.js#L18-L20
1:35 PM
the script doesn't stop if i

[2016-04-13 21:47] acabunoc opened #7 "SimPEG"
**[ Project Lead ]** @rowanc1
**[ GitHub Repo ]** https://gihub.com/simpeg/simpeg
**[ Track ]** Tools: you are building a tool others can help you build
**[ Level ]** Advanced

### Description
SimPEG (http://simpeg.xyz) is a package for geophysical forward modelling and inversion routines. The package includes electromagnetics (time and frequency domain, 1D, 2D, 3D), magnetotellurics, direct curre

[2016-04-13 21:47] acabunoc opened #8 "STEMM Role Models"
**[ Project Lead ]** @KirstieJane
**[ GitHub Repo ]** https://github.com/KirstieJane/STEMMRoleModels
**[ Track ]** Tools: you are building a tool others can help you build
**[ Level ]** Beginner

### Description
Inspire future generations by providing the most exciting and diverse speakers for your conference.

***

## Note to the Project Lead
Congrats, @KirstieJane! This is your official project

[2016-04-13 21:47] acabunoc opened #9 "fedbk - A feedback listener for any domains"
**[ Project Lead ]** @nifrasismail
**[ GitHub Repo ]** https://github.com/nifrasismail/fedbk
**[ Track ]** Tools: you are building a tool others can help you build
**[ Level ]** Beginner
**[ Timezone ]** UTC

### Description

***
## Want to Contribute?
Join us at the [Global Sprint June 2-3](https://www.mozillascience.org/global-sprint-2016). Leave a comment in this issue to let the project lead k

[2016-04-13 21:47] acabunoc opened #10 "openSNP"
**[ Project Lead ]** @gedankenstuecke
**[ GitHub Repo ]** https://github.com/openSNP/snpr
**[ Track ]** Tools: you are building a tool others can help you build
**[ Level ]** Intermediate
**[ Timezone ]** UTC+2 and UTC+8
### Description

Hello! openSNP.org is a repository to which users can upload their SNP-sets (and exome-VCFs) from 23andme, deCODEme, FamilyTreeDNA, AncestryDNA and IYG-format (fo

[2016-04-13 21:47] acabunoc opened #11 "everware"
**[ Project Lead ]** @betatim
**[ GitHub Repo ]** https://github.com/everware/
**[ Track ]** Tools: you are building a tool others can help you build
**[ Level ]** Intermediate

### Description
Everware is about re-useable science, it allows people to jump right in to your research code.

Everware is an add-on for JupyterHub. It allows users to launch Jupyter Notebooks into a docker container simp

[2016-04-13 21:47] acabunoc opened #12 "PhageParser"
**[ Project Lead ]** @mbonsma
**[ GitHub Repo ]** https://github.com/goyalsid/phageParser
**[ Track ]** Tools: you are building a tool others can help you build
**[ Level ]** Intermediate

### Description
This project seeks to accelerate our understanding of disease immunity by leveraging open genetic data.

***

## Note to the Project Lead
Congrats, @mbonsma! This is your official project listing

[2016-04-13 21:47] acabunoc opened #13 "pmc-ref"
**[ Project Lead ]** @robsullivan
**[ GitHub Repo ]** https://github.com/RobSullivan/pmc-ref
**[ Track ]** Tools: you are building a tool others can help you build
**[ Level ]** Beginner

### Description
A quick way to check if an article's references are free to access in PubMed Central.

Given a digital object identifier (doi) pmc-ref will return the percentage of an article's references that ar

[2016-04-13 21:47] acabunoc opened #14 "Open Data Training"
**[ Project Lead ]** @stephwright
**[ GitHub Repo ]** https://github.com/mozillascience/open-data-training
**[ Track ]** Open Educational Resource: you're collaborating on curriculum or other educational resources
**[ Level ]** Intermediate

### Description
Developing curriculum for training

***

## Note to the Project Lead
Congrats, @stephwright! This is your official project listing for the [Mo

[2016-04-13 21:47] acabunoc opened #15 "Paper Badger"
**[ Project Lead ]** @acabunoc
**[ GitHub Repo ]** https://github.com/mozillascience/paperbadger
**[ Track ]** Tools: you are building a tool others can help you build
**[ Level ]** Intermediate

### Description
Issuing badges to credit authors for their work on academic papers

As the research environment becomes more digital, we want to test how we can use this medium to help bring transparency

[2016-04-13 21:52] acabunoc commented on #15
confirming I'll be available June 2 & 3!

[2016-04-13 22:03] mbonsma commented on #12
Thanks @acabunoc! I'll be participating in the sprint (at the Toronto site) for both days.

[2016-04-13 22:06] stephwright commented on #14
I will be there 9-5 Pacific on both days at the Seattle location: UW's Data Science Studio!!!!

[2016-04-13 22:15] gedankenstuecke commented on #10
Yep, that should work, Philipp and I have our eyes fixed set on it :)

[2016-04-14 01:28] nifrasismail commented on #9
I confirmed on my submission. Hope will complete the tasks ASAP

[2016-04-14 02:02] acabunoc commented on #9
Thanks @nifrasismail! Don't forget to also add a description and provide a GitHub repo :)

[2016-04-14 02:20] #6 closed

[2016-04-14 02:23] acabunoc opened #16 "Move non-project issues to /plan"
Hey @arlissc & @stephwright -- I think it might help users if we move all our planning issues to the /plan repo and keep this as a list of projects. Does that make sense to you? Any objections?

Issues affected: #1, #3, #4 & this issue (#16)

(sorry it's late, I can't sleep 🌙 ⭐)

[2016-04-14 19:35] stephwright commented on #16
No objections, though wondering if it would make sense to just label these as planning and keep them here as they relate to the global sprint?  Then folks can filter out issues labeled "planning"

[2016-04-14 19:42] acabunoc commented on #16
True, but thinking of ppl new to github I thought that might be more confusing

[2016-04-15 14:29] betatim commented on #11
I will be at CERN for the global sprint. @ibab do you know where you will be yet?

[2016-04-15 15:11] arlissc commented on #16
I'm happy to migrate and close the issues.  I support keeping this repo uncluttered for all points mentioned.

[2016-04-15 15:50] stephwright commented on #16
Okie doke!

[2016-04-15 23:43] acabunoc commented on #4
Moved to https://github.com/mozillascience/plan/issues/70

[2016-04-15 23:43] #4 closed

[2016-04-15 23:45] acabunoc commented on #3
Migrated to https://github.com/mozillascience/plan/issues/71

[2016-04-15 23:45] #3 closed

[2016-04-15 23:47] acabunoc commented on #1
Migrated to https://github.com/mozillascience/plan/issues/72

[2016-04-15 23:47] #1 closed

[2016-04-15 23:47] acabunoc commented on #16
Done!

[2016-04-15 23:47] #16 closed

[2016-04-16 00:00] acabunoc opened #17 "Trillian"
**[ Project Lead ]** @demitri
**[ GitHub Repo ]** https://github.com/trillian/trillian
**[ Track ]** Tools: you are building a tool others can help you build
**[ Level ]** Advanced

### Description
Trillian aims to make open astronomy data more usable, by automating the delegation of analysis tasks to remote data repositories.

***

## Note to the Project Lead
Congrats, @demitri! This is your offi

[2016-04-16 00:00] acabunoc opened #18 "WorldBrain's Webmarks"
**[ Project Lead ]** @oliversauter
**[ GitHub Repo ]** https://github.com/WorldBrain/Webmarks
**[ Track ]** Tools: you are building a tool others can help you build
**[ Level ]** Intermediate

### Description
Our grand goal is to develop a fact-checking browser plugin for the public. This will make it possible to instantly see, if a web article or blog post and its statements are trustworthy or no

[2016-04-16 00:00] acabunoc opened #19 "githubr"
**[ Project Lead ]** @brian-bot
**[ GitHub Repo ]** https://github.com/brian-bot/githubr
**[ Track ]** Tools: you are building a tool others can help you build
**[ Level ]** Beginner

### Description
Making it easy to talk to GitHub from R

***

## Note to the Project Lead
Congrats, @brian-bot! This is your official project listing for the [Mozilla Science Global Sprint 2016](https://www.mozillasc

[2016-04-17 19:12] acabunoc opened #20 "Grafoscopio: moldable tool for data narratives & visualizations"
**[ Project Lead ]** Offray
**[ GitHub Repo ]** http://smalltalkhub.com/#!/~Offray/Grafoscopio
**[ Track ]** Tools: you are building a tool others can help you build, Open Educational Resource: you're collaborating on curriculum or other educational resources, Citizen Science: you're looking for participants in your citizen science project, Open Data: you have data others can use and play with dur

[2016-04-17 19:31] oliversauter commented on #18
I will be available for sure :)

[2016-04-17 20:32] demitri commented on #17
Confirmed! I will be available.

[2016-04-18 08:43] RobSullivan commented on #13
Hey @acabunoc, thanks for the listing. Looking forward to the event. Can confirm availability to review and answer questions on this project on those dates and times.

[2016-04-18 12:07] offray commented on #20
My project doesn't use GitHub explicitly, but I can provide a Fossil repository for comments, issues, tickets and so on. Will this work or not using github precludes project from further participation?

Thanks,

Offray

[2016-04-18 13:57] rowanc1 commented on #7
A number of people from the SimPEG team will be available for questions/reviews on June 2-3. Thanks!

[2016-04-19 09:15] KirstieJane commented on #8
Confirmed @acabunoc! We'll host a site in Berkeley CA :smiley:

[2016-04-19 14:08] acabunoc opened #21 "Binder"
**[ Project Lead ]** @andrewosh
**[ GitHub Repo ]** https://github.com/binder-project/binder
**[ Track ]** Tools: you are building a tool others can help you build
**[ Level ]** Intermediate

### Description
System for deploying Jupyter notebooks from GitHub repos via Kubernetes

***

## Note to the Project Lead
Congrats, @andrewosh! This is your official project listing for the [Mozilla Science G

[2016-04-19 18:00] andrewosh commented on #21
I'll definitely be around from 9-5 EST on June 2/3!

[2016-04-19 22:12] acabunoc opened #22 "ContentMine"
**[ Project Lead ]** @chreman & @petermr
**[ GitHub Repo ]** https://github.com/ContentMine/
**[ Track ]** Tools: you are building a tool others can help you build
**[ Level ]** Intermediate

### Description
ContentMine provides tools for getting papers from many online sources, normalising them, then processing them to lookup and/or search for key terms, phrases, patterns, statements, and more -

[2016-04-19 22:41] acabunoc commented on #20
Hey @offray! Yes, please link your Fossil repo :)

We prefer github for integration (we use the github api to track activity & contributions) & it's required for featured projects right now. But you're welcome to bring your project on a separate platform!

[2016-04-19 22:59] offray commented on #20
Thanks @acabunoc. So how can I edit this issue to point check the completed task and point to the external repository?

[2016-04-22 12:57] acabunoc commented on #20
Hey @offray! you should be able to update this issue now! Thanks so much - excited to see this project at the sprint 😄

[2016-04-23 15:54] acabunoc opened #23 "ContentMine"
**[ Project Lead ]** @chreman & @petermr
**[ GitHub Repo ]** https://github.com/ContentMine/
**[ Track ]** Tools: you are building a tool others can help you build
**[ Level ]** Intermediate

### Description
ContentMine provides tools for getting papers from many online sources, normalising them, then processing them to lookup and/or search for key terms, phrases, patterns, statements, and more -

[2016-04-23 15:55] acabunoc commented on #23
sorry, this is a duplicate!

[2016-04-23 15:55] #23 closed

[2016-04-23 15:56] acabunoc opened #24 "Subatomic Particle Visualization in Quantum Mechanics."
**[ Project Lead ]** @SOFTowaha
**[ GitHub Repo ]** https://github.com/SOFTowaha/Quantum_Mechanics
**[ Track ]** Open Educational Resource: you're collaborating on curriculum or other educational resources, Open Data: you have data others can use and play with during the sprint
**[ Level ]** Beginner

### Description
This project will help physics student and others to visualize the sub atomic par

[2016-04-27 18:11] acabunoc opened #25 "Cytoscape.js"
**[ Project Lead ]** @maxkfranz
**[ GitHub Repo ]** https://github.com/cytoscape/cytoscape.js/
**[ Track ]** Tools: you are building a tool others can help you build
**[ Level ]** Intermediate

### Description
Graph theory (a.k.a. network) library for analysis and visualisation : http://js.cytoscape.org. Server side network rendering with Cytoscape.js

***

## Note to the Project Lead
Congrats, @m

[2016-05-03 21:17] acabunoc opened #26 "DynaML"
**[ Project Lead ]** @mandar2812
**[ GitHub Repo ]** https://github.com/mandar2812/DynaML
**[ Track ]** Tools: you are building a tool others can help you build
**[ Level ]** Intermediate

### Description
Scala Library/REPL for scalable Machine Learning

***

## Note to the Project Lead
Congrats, @mandar2812! This is your official project listing for the [Mozilla Science Global Sprint 2016](https:

[2016-05-04 16:41] acabunoc opened #27 "PlantDisease Classification Challenge"
**[ Project Lead ]** @spMohanty
**[ GitHub Repo ]**
**[ Track ]** Open Educational Resource: you're collaborating on curriculum or other educational resources, Open Data: you have data others can use and play with during the sprint
**[ Level ]** Beginner

### Description
The project will attempt to attempt classification of diseased plant leaves among 38 crop-disease pairs on a recently released d

[2016-05-05 13:29] acabunoc opened #28 "rmacroRDM R package"
**[ Project Lead ]** @annakrystalli
**[ GitHub Repo ]** https://github.com/annakrystalli/rmacroRDM
**[ Track ]** Tools: you are building a tool others can help you build
**[ Level ]** Intermediate

### Description
The rmacroRDM R package contains functions to help with the compilation of macroecological datasets. It compiles datasets into a master database of individual observations and checks, se

[2016-05-05 19:54] acabunoc opened #29 "Homebrew Science"
**[ Project Lead ]** @sjackman
**[ GitHub Repo ]** https://github.com/Homebrew/homebrew-science
**[ Track ]** Tools: you are building a tool others can help you build
**[ Level ]** Intermediate

### Description
Scientific formulae for the Homebrew package manager

***

## Note to the Project Lead
Congrats, @sjackman! This is your official project listing for the [Mozilla Science Global Sprint 2016

[2016-05-05 20:26] sjackman commented on #29
@acabunoc Hi, Abigail. I'm available electronically both days 9–5 to answer questions. I'll be available in person in Vancouver Thu 9–12 and Fri 9–5.

[2016-05-06 14:19] acabunoc opened #30 "Open Cosmics"
**[ Project Lead ]** @RaoOfPhysics
**[ GitHub Repo ]** https://github.com/OpenCosmics/opencosmics.github.io
**[ Track ]** Tools: you are building a tool others can help you build, Open Data: you have data others can use and play with during the sprint
**[ Level ]** Beginner

### Description
The aim of Open Cosmics is to build a foundational structure for the many cosmic-ray projects around the glo

[2016-05-06 14:20] RaoOfPhysics commented on #30
I will be available! :)

(Also, part of the description appears as code: can you perhaps delete the spaces or make them bullets? Thanks!)

[2016-05-06 16:20] RaoOfPhysics opened #31 "Update sites.geojson to list all participants"
… so no-one feels left out. :)

**Missing**:

- USA:
    - [ ] [Berkeley](https://ti.to/mozilla-science/gs2016-berkeley)
    - [x] [Charlottesville](https://ti.to/mozilla-science/gs2016-charlottesville)
    - [x] [Seattle](https://ti.to/mozilla-science/gs2016-seattle)
    - [x] [St Paul](https://ti.to/mozilla-science/gs2016-st-paul)
- India:
    - [x] [Bangalore](https://ti.to/mozilla-science/gs20

[2016-05-06 16:51] acabunoc commented on #31
hey, we're not using that geojson anymore! (@auremoser moved us to cartodb 😄 ) will delete

[2016-05-06 16:51] #31 closed

[2016-05-06 16:53] RaoOfPhysics commented on #31
Ah! :) Should've waited for your go-ahead before adding them.

[2016-05-07 18:18] acabunoc opened #32 "Discovering patterns in 20663 individual research workflows - using data from our recent global survey."
**[ Project Lead ]** https://github.com/bmkramer
**[ GitHub Repo ]**
**[ Track ]** Open Data: you have data others can use and play with during the sprint
**[ Level ]** Intermediate

### Description
How cool would it be if you could analyze the current global state of scholarly communication and research practices not only by what people say, but by their active use of certain platforms, tools and

[2016-05-09 02:18] Varix commented on #10
I think I am leaning towards this project... is there a current todo list or repo for it?

[2016-05-09 08:25] gedankenstuecke commented on #10
Hey @Varix, thanks for the interest and sorry for the slow reply. I was pretty much out of office this weekend. ☀️  We do have a [repo](https://github.com/openSNP/snpr) where you can find our [Roadmap](https://github.com/openSNP/snpr/blob/master/ROADMAP.md) that contains the stuff that we want to work on in the future. There's also a [guide for new contributors](https://github.com/openSNP/snpr/blo

[2016-05-09 16:43] annakrystalli commented on #28
@acabunoc Hey Abby! I've updated the repo with the (applicable) checklist of documents. Will be tidying up some more but it's all there for now :)

Also I can confirm I'll be available 9-5 UK time for the Global Sprint!

[2016-05-09 17:26] acabunoc opened #33 "Exploratory analysis with Pathway Commons, R Cytoscape.js, and Shiny"
**[ Project Lead ]** @kdaily
**[ GitHub Repo ]** https://github.com/kdaily/shinyPathway
**[ Track ]** Tools: you are building a tool others can help you build
**[ Level ]** Intermediate
**[ Timezone ]** PDT
### Description

Build a modular R Shiny app to view biological pathways from Pathway Commons with user-provided data about nodes in the network.

---
## Want to Contribute?

Join us at the [Gl

[2016-05-09 18:20] acabunoc commented on #28
Amazing @annakrystalli!

Feel free to update this issue with links to the docs & to check off items :)

[2016-05-09 18:22] SOFTowaha commented on #24
Thank you @acabunoc ;
Other than the 'personas'
I'll submit rest of the information ASAP :)
I might need a meeting with you to get few things clear :) Let me know when you are free.

[2016-05-09 18:26] acabunoc commented on #24
Thanks @SOFTowaha! Happy to answer questions on the exercises -- [my calendar](https://calendar.google.com/calendar/embed?src=abigail%40mozillafoundation.org&ctz=America/Toronto) is up to date

Please confirm that at least one person will be available to review and answer questions on this project from 9-5 in their timezone on both June 2 & 3.

[2016-05-09 21:04] kdaily commented on #33
Github repo: https://github.com/kdaily/shinyPathway

I'll be available from 9-5 in my local timezone on both June 2 and 3.

[2016-05-09 22:13] bmkramer commented on #32
Hi Abigail,

- GitHub repo: https://github.com/bmkramer/101innovations-survey-data

- Yes, we'll be available. We stated in our description that the sprint on-site will be from 9-13 u both days, during which we'll be present in person; participants are of course free to continue working after these hours, and online support will be given wherever possible.

[2016-05-09 22:44] maxkfranz commented on #25
@acabunoc Yes, I'll be available

[2016-05-09 22:45] maxkfranz commented on #25
Project : Server side image rendering of Cytoscape.js graphs/networks using Node.js and PhantomJS

Repo : https://github.com/cytoscape/cytosnap

[2016-05-10 00:32] acabunoc commented on #25
Thanks @maxkfranz! Feel free to update the issue with project info :)

[2016-05-10 09:57] RaoOfPhysics commented on #24
This sounds very interesting, @SOFTowaha, and I will ask some folk at CERN if they'd like to participate. There were also some particle-visualisation projects here but I'm not sure what happened with them.

[2016-05-10 14:03] acabunoc opened #34 "Extending Library Carpentry"
**[ Project Lead ]** @weaverbel
**[ GitHub Repo ]** https://github.com/data-lessons
**[ Track ]** Tools: you are building a tool others can help you build, Open Educational Resource: you're collaborating on curriculum or other educational resources
**[ Level ]** Intermediate

### Description
The aim is to expand and extend the existing Library Carpentry materials created by James Baker (github.com

[2016-05-11 16:56] acabunoc opened #35 "An R package for processing weather sration data for organismal ecologists"
**[ Project Lead ]** @cbahlai
**[ GitHub Repo ]**
**[ Track ]** Tools: you are building a tool others can help you build
**[ Level ]** Beginner

### Description
A R package for processing weather station data for organismal ecologists

***
## Want to Contribute?
Join us at the [Global Sprint June 2-3](https://www.mozillascience.org/global-sprint-2016). Leave a comment in this issue to let the proj

[2016-05-11 18:30] Zovfreullia commented on #35
I'm interested in contributing for the Mozilla Science Global Spring.

Is there an active repository where I can find this project?

[2016-05-11 18:45] cbahlai commented on #35
Hi @Zovfreullia! Thanks for your interest- the idea here is to develop an R package based on code developed with students for a course I taught this past semester- we had to write several custom functions for processing data that likely have use elsewhere. We don't have a repo for the package yet,  and I'll be a week or so before i can really get things set up for it, but here's our course repo:

[2016-05-12 11:54] spMohanty commented on #27
Hi @acabunoc,

I confirm that I will be there at IdeaSquare on both the days of the Sprint between 9-5.

Here is the link to the Github Repository : https://github.com/crowdAI/Knowledge-Base , which will be used to keep track of the progress made during the Sprint.

Also, we would like to change the name and the description to :
**Name** : CrowdAI-KnowledgeBase
**Description** : [CrowdAI](http://c

[2016-05-12 12:58] acabunoc commented on #27
Thanks @spMohanty! feel free to update the issue!

[2016-05-13 15:52] acabunoc opened #36 "Open Science 101"
**[ Project Lead ]** @aleimba
**[ GitHub Repo ]** https://github.com/OKScienceDE/Open_Science_101
**[ Track ]** Open Educational Resource: you're collaborating on curriculum or other educational resources
**[ Level ]** Beginner

### Description
Collecting teaching resources/material for open science loosely based on the principles of Software/Data Carpentry

This project idea was born during the c

[2016-05-13 16:26] aleimba commented on #36
Hi @acabunoc,
thanks a lot for your fast response! Yep I'm pushing the members from @OKScienceDE so we'll have one available at both dates.

[2016-05-13 19:20] Gaurav-Paliwal commented on #35
I am interested in contributing.

[2016-05-13 20:58] offray opened #37 "Must I close the project? I will not be available on June 2 and 3."
Hi,

I'm sorry to inform that on June first I will be flying back to my country, and I need to take care of some logistics after I land, so I would be unavailable the days of the Global Sprint 2016. I think that the best approach is to end my participation for this year with my project. Anyway I would like to share some preview of recent developments made with Grafoscopio: [Panama Papers: a case f

[2016-05-15 02:07] acabunoc opened #38 "EcoData Retriever"
**[ Project Lead ]** @henrykironde & @ethanwhite
**[ GitHub Repo ]** https://github.com/weecology/retriever
**[ Track ]** Tools: you are building a tool others can help you build, Open Data: you have data others can use and play with during the sprint
**[ Level ]** Advanced

### Description
Quickly download, clean up, and install ecological datasets into a database management system http://ecodata

[2016-05-15 02:13] henrykironde commented on #38
We are delighted to have the [EcoData Retriever](https://github.com/weecology/retriever) as part of the [Mozilla Science Global Sprint 2016](https://www.mozillascience.org/global-sprint-2016)

[2016-05-15 15:33] oliversauter commented on #22
Hey @chremann & @petermr

I would like to help you during the sprint. Is there anything specific to do?

It makes sense to talk besides that anyway because there might be room for collaboration between our projects. (www.worldbrain.io with a special focus on STAGE 2 of our roadmap)
I will be at the "[I annotate 2016](iannotate.org)" here in Berlin on Thursday.
If you are there as well, we could ha

[2016-05-15 16:59] petermr commented on #22
I will also be at IAnnotate and demo'ing our amnuaens.is system. I'm giving
a talk on 19th just before lunch. So let's talk then.

For anyone else. Love help on the sprint. We are building systems to read
and use the whole scientific literature on a daily basis. We are interested
in anyone who has scientific interest where they would like to mine for
knowledge. For example chemistry, bioscience, m

[2016-05-15 17:53] oliversauter commented on #22
All right :) Meet you then!

[2016-05-16 03:40] weaverbel commented on #34
Hi @acabunoc I'd like to change the GitHub Repo field for this project to https://github.com/data-lessons/librarycarpentry as that repo's README is where I have listed all the info thus far for the project - the README has the plan of work, the license, who can participate, the code of conduct etc. Not sure personas, a separate roadmap, or data reuse etc are relevant to what we are trying to do -

[2016-05-16 11:29] chreman commented on #22
@acabunoc Confirming availability for questions.

[2016-05-16 12:07] acabunoc commented on #37
Hi @offray -

I'm so sorry you won't be able to join us! Thanks for letting us know, and for the update on your project (exciting!).

I'll close the issue for you. You can 'unwatch' the repository to stop notifications:

![screen shot 2016-05-16 at 08 02 59](https://cloud.githubusercontent.com/assets/617994/15288951/a903472c-1b3c-11e6-8893-cdccf75570bd.png)

[2016-05-16 12:07] #37 closed

[2016-05-16 12:07] #20 closed

[2016-05-16 12:10] acabunoc commented on #34
Thanks @weaverbel! This looks great 👍

I updated the issue & added you to the repo so you should be able to keep updating. Thanks again!

[2016-05-16 12:24] acabunoc opened #39 "Minimal Computing - Rural applications"
**[ Project Lead ]** @zjsteyn
**[ GitHub Repo ]**
**[ Track ]** Citizen Science: you're looking for participants in your citizen science project
**[ Level ]** Beginner

### Description
Minimal Computing - Innovative Rural Applications

***
## Want to Contribute?
Join us at the [Global Sprint June 2-3](https://www.mozillascience.org/global-sprint-2016). Leave a comment in this issue to let the proj

[2016-05-16 14:15] offray commented on #37
Thanks. May be next year. In the meantime I will be in contact with
Mozilla Science initiatives via twitter.

Cheers,

Offray

On 16/05/16 07:07, Abigail Cabunoc Mayes wrote:

[2016-05-16 14:15] cbahlai commented on #35
Cool! I will get more details together as soon as I can. I'll be travelling this week so my responses may be slow.

[2016-05-18 14:00] acabunoc opened #40 "Open Access for the Global South"
**[ Project Lead ]** Jo
**[ GitHub Repo ]**
**[ Track ]** Open Educational Resource: you're collaborating on curriculum or other educational resources
**[ Level ]** Beginner
**[ Timezone ]**

### Description

***
## Want to Contribute?
Join us at the [Global Sprint June 2-3](https://www.mozillascience.org/global-sprint-2016). Leave a comment in this issue to let the project lead know you're intere

[2016-05-18 15:42] amelgh commented on #14
Hi Steph, We would love to participate to this project from Pasteur Institut of Tunis. Could you please give me more details?
Thanks

Amel

[2016-05-18 18:58] jibe-b commented on #40
Hi there! Your project sound good, I advertized to the SOHA project (Open Science in Haiti and French speaking Africa). I hope there can be synergies, making use of what has already been done in the passed months, years and decades.

Best regards,

[2016-05-19 07:31] Gaurav-Paliwal commented on #35
Thank you.

[2016-05-19 15:16] acabunoc opened #41 "CODE-RADE"
**[ Project Lead ]** @brucellino
**[ GitHub Repo ]** https://github.com/AAROC/CODE-RADE
**[ Track ]** Tools: you are building a tool others can help you build
**[ Level ]** Intermediate

### Description
CODE-RADE = Continuous Delivery of Research Applications in a Distributed Environment. This is a mashup of change-controlled repositories, continuous integration and delivery mechanisms. The system

[2016-05-19 15:16] acabunoc opened #42 "Open data per default: building CeTrAn 5.0 (R code)"
**[ Project Lead ]** @jcolomb
**[ GitHub Repo ]** https://github.com/jcolomb/CeTrAn
**[ Track ]** Tools: you are building a tool others can help you build, Open Data: you have data others can use and play with during the sprint
**[ Level ]** Intermediate

### Description
CeTrAn is a R suite of code to analyse animal behavior data as recorded via the trajectory of their centre of gravity (centroid

[2016-05-19 15:17] offray commented on #42
Hi,

It seems that I'm susbcribed to a lot of other project notifications
like this one, How can I unsubscribe from all?

Cheers,

Offray

On 19/05/16 10:16, Abigail Cabunoc Mayes wrote:

[2016-05-19 15:19] acabunoc commented on #42
Hey @offray -  update your notifications at the top of the page:
![screen shot 2016-05-19 at 08 18 30](https://cloud.githubusercontent.com/assets/617994/15398897/52e0a38e-1d9a-11e6-8307-e2bb112e141d.png)

[2016-05-19 15:21] offray commented on #42
Thanks Abigail. I did it for my project, but I was also in the
notifications of the global sprint.

Cheers,

Offray

On 19/05/16 10:19, Abigail Cabunoc Mayes wrote:

[2016-05-19 15:24] brucellino commented on #41
Hidyho @acabunoc thanks for noticing our request. We're using this sprint to try to push out features of the platform, as well as finish documentation and user experience stories. I will update the contributing file with this info.

[2016-05-19 15:26] acabunoc commented on #42
Yes @offray, make sure you do this at the **top of the page** to unwatch the entire repo. You're still listed as watching.

You can also go here to change your github settings: https://github.com/settings/notifications

[2016-05-19 15:41] offray commented on #42
I think now I have done it right.

Thanks,

Offray

On 19/05/16 10:26, Abigail Cabunoc Mayes wrote:

[2016-05-19 15:46] brucellino commented on #40
the title of this project is interesting. We may be able to bring some resources to bare with the [Sci-GaIA](http://www.sci-gaia.eu) project, in particular via the [Open Science Platform](http://www.sci-gaia.eu/osp). Looking forward to details.

[2016-05-19 16:01] brucellino commented on #12
What kind of computing resources does this application need ?

[2016-05-19 16:04] brucellino commented on #30
This looks lie for for a jaded physicist like me... count me in.

[2016-05-19 17:34] mbonsma commented on #12
@brucellino, do you mean what resources does a contributor need or what resources does the project need?

Contributor: a standard laptop on any OS is probably fine - that's what people have been working with until now. All scripts are made with small test datasets that don't take a crazy long time to run.

Project: ultimately it'll be hosted on a server somewhere, and more than that we're not sure

[2016-05-20 08:34] brucellino commented on #41
This is to confirm that at least one person (me :) ) will be available in GMT+2 to support volunteers.

[2016-05-20 09:07] brucellino commented on #12
Hi @mbonsma

I was referring to the project, not the contributor. I am coordinating a [distributed computing infrastructure in Africa](http://www.africa-grid.org) and was wondering what would be needed to get the application onto it. The final aim would be to engage researchers and users of the project in our region.

[2016-05-20 10:14] zjsteyn commented on #39
Juan Steyn will be available during 9 - 5 on 2 - 3 June to assist with questions regarding the project

[2016-05-20 10:17] zjsteyn commented on #39
Github Repo for collaboration - zjsteyn/ruralcomputing

[2016-05-20 16:19] drammock commented on #15
@acabunoc I'll be working on this during the sprint.

[2016-05-20 17:14] acabunoc commented on #15
Amazing @drammock! come say hi in our gitter chat: https://gitter.im/mozillascience/PaperBadger

[2016-05-21 05:00] stephwright commented on #14
Yay, Amel!! I'm so excited you want to participate!  I apologize for the delay in response.  I'm meeting our Curriculum Designer in Michigan in a few days to hammer out details on this.  Can I get back to you with specifics next week?

[2016-05-23 12:29] amelgh commented on #14
Thank you very much for your message Steph, yes sure no worries. We are thrilled to be part of the Mozilla sprint this year .

[2016-05-24 01:00] mbonsma commented on #12
Wow, that's a really cool project! I love that idea, and it would be great to hear what you have in mind. My feeling is that phageParser is still in too early a stage to be deployed for end users, but we could definitely talk about getting some developers on board from your region. My email is m.bonsma@mail.utoronto.ca if you're interested in chatting more about this.

[2016-05-24 14:10] acabunoc opened #43 "PaperHive"
**[ Project Lead ]**
**[ GitHub Repo ]**
**[ Track ]** Citizen Science: you're looking for participants in your citizen science project
**[ Level ]** Intermediate

### Description
PaperHive is the coworking hub for researchers. Our goal is to simplify research communication and transform reading into an active process of productive collaboration.

We just launched our beta, so our next step is to

[2016-05-24 14:10] acabunoc opened #44 "DIYbiosphere"
**[ Project Lead ]** @sabgaby
**[ GitHub Repo ]** https://github.com/DIYbiosphere/diybiosphere.io
**[ Track ]** in between tools and open data, we are creating a public database of DIYbio projects around the world
**[ Level ]** Beginner

### Description
A community-led resource describing DIYbio projects worldwide

***
## Want to Contribute?
Join us at the [Global Sprint June 2-3](https://www.mozi

[2016-05-24 14:10] acabunoc opened #45 "SciAI"
**[ Project Lead ]** @RomanGurinovich
**[ GitHub Repo ]** https://github.com/xpansa/sciai
**[ Track ]** Tools: you are building a tool others can help you build
**[ Level ]** Beginner

### Description
SciAI is an extension for the text editors like Google Docs to create structured semantic biomedical papers directly at the moment of writing.

***
## Want to Contribute?
Join us at the [Global Sprin

[2016-05-24 14:32] abbycabs opened #46 "Science Fair"
**[ Project Lead ]** @blahah
**[ GitHub Repo ]** https://github.com/codeforscience/sciencefair
**[ Track ]** Tools: you are building a tool others can help you build
**[ Level ]** Intermediate
**[ Timezone ]**
### Description

An electron app to search, collect, read and reuse the scientific literature on your desktop.

---
## Want to Contribute?

Join us at the [Global Sprint June 2-3](https://ww

[2016-05-24 17:18] acabunoc opened #47 "BEC Climate Explorer"
**[ Project Lead ]** https://github.com/joeyklee
**[ GitHub Repo ]** https://github.com/joeyklee/bec-explorer
**[ Track ]** Tools: you are building a tool others can help you build, Open Data: you have data others can use and play with during the sprint
**[ Level ]** Intermediate

### Description
The BEC Climate Explorer is a project to build an interactive data viewer for the Biogeoclimate Ecosys

[2016-05-24 17:22] johav commented on #40
Hi there, I suggested this project since I would love to see discussions going on and about. Sadly, it looks as if I won't be able to participate fulltime on June 2/3. Anyone else interested in being the lead for this??? I would be happy in helping to build the repository.

[2016-05-24 17:32] joeyklee commented on #47
Hi @acabunoc - I confirm I will be at the Mozilla Vancouver space from 9-5 on June 2-3.

[2016-05-24 17:33] sabgaby commented on #44
Hello @acabunoc, I am the project lead and I will physically go to the Geneva sprint! From 9-17hrs on both June 2 and 3!

[2016-05-24 18:26] lmatthia commented on #43
Hey @acabunoc !

Our GitHub Rep is:  https://github.com/paperhive

And I will be available to answer questions on both days :)

[2016-05-25 00:13] acabunoc opened #48 "LocusPocus"
**[ Project Lead ]** @schae234
**[ GitHub Repo ]** https://github.com/schae234/locuspocus
**[ Track ]** Tools: you are building a tool others can help you build
**[ Level ]** Beginner

### Description
Genetic coordinates as a fundamental data-type (SNPs, genes, etc) implemented in python.  LocusPocus makes creating, comparing, and relating genome coordinates so easy, it will feel like MAGIC!

***

[2016-05-25 00:21] schae234 commented on #48
Hey @acabunoc!

I will for sure be there on 6/2-3 to answer questions and review any PRs! I'll be working on getting those other checkboxes completed :+1:

[2016-05-25 00:36] schae234 commented on #48
You are crushing it @acabunoc!! :fireworks: :boom: :+1:

[2016-05-25 00:41] acabunoc commented on #48
Scripts + the github api help :)

[2016-05-25 00:51] schae234 commented on #48
Shhhh, don't give away those secrets!

[2016-05-25 12:13] eronisko commented on #39
@zjsteyn Is the project described anywhere in more detail?

What's the time zone for your 9-5 availability please?

[2016-05-25 12:21] eronisko commented on #29
Hi @sjackman, is this sprint project about working through the issues in the repo or do you have any other plans?

[2016-05-25 12:24] eronisko commented on #25
Hi @maxkfranz, is your time zone Eastern Time (UTC-05:00)?

[2016-05-25 12:37] eronisko commented on #9
Hi @nifrasismail, is this project described in more detail anywhere?

[2016-05-25 12:43] zjsteyn commented on #39
@eronisko
Jip adding descriptions and milestones now.

Should be ready by the end of today

Time zone: UCT / GMT +2

[2016-05-25 13:57] zjsteyn commented on #39
@acabunoc we have completed our readme and other documentation. Certain elements will be built out as the project goes along after the sprint.

[2016-05-25 14:11] acabunoc commented on #39
@zjsteyn that's great! You should be able to check off items in the issue & even link to your docs (see #14 as an example)

[2016-05-25 15:11] maxkfranz commented on #25
@eronisko Yes

[2016-05-25 16:47] solstag commented on #36
Ni!

Hi, this wiki-manual from the Brazilian group [Ciência Aberta](http://cienciaaberta.net) might be useful for you guys...

https://translate.google.com/translate?hl=pt-BR&sl=pt&tl=en&u=https%3A%2F%2Fpt.wikiversity.org%2Fwiki%2FManual_para_Ci%C3%AAncia_Aberta

[]s

[2016-05-26 03:48] RomanGurinovich commented on #45
Hi All,

hereby confirming that at least one person will be available to review and answer questions on this project from 9-5 in their timezone on both June 2 & 3

Roman

[2016-05-26 23:14] rsdoiel commented on #34
I am new to this so apologize if I am asking in the wrong place.  There are a few of us who are interested in working on this remotely from Caltech in California.  I've forked some of the data-lessons repositories we interested in contributing to. Do we just submit pull requests at the end of the sprint?  Thank you, Robert

[2016-05-26 23:20] weaverbel commented on #34
Hi @rsdoiel - yes that would be great. We can also use the etherpad - which you've found - to discuss actions http://pad.software-carpentry.org/bris-sprint. There are a stack of other people involved - can you please send me your email address and I'll hook you and @pitviper6 into that thread. My email is b.weaver AT qcif.edu,au

[2016-05-26 23:49] sjackman commented on #29
I'd like to build precompiled binary bottles of bioinformatics formula for Linuxbrew. My field is bioinformatics, but someone else could tackle the same issue for their of interest. Outside of this bottling effort, tackling the existing backlog of issues would be great. Last year I helped people create formulas for software they use that did not yet have a formula. I'd be happy to do that again.

[2016-05-27 09:00] cmassimo commented on #48
Hey :) I would like to contribute to this project, how can we coordinate? (I don't think I can stay at the event for the whole 2 days)

[2016-05-27 10:26] njsimons commented on #34
Hi @weaverbel - would love to join this effort. Will come to UQ. Exciting!

[2016-05-27 13:34] pitviper6 commented on #34
Looking forward to it - I'm holding an LC workshop the week of 7/18 and am
eyeing the lessons!

Juliane

On Fri, May 27, 2016 at 3:26 AM, njsimons <notifications@github.com> wrote:

[2016-05-27 16:31] schae234 commented on #48
Hi @cmassimo!

Awesome! So good to hear! What time zone are you in? I'll be at our St Paul site 9-5 Central Time both days, maybe we can overlap through video chat. Otherwise I do plan on laying out some issues on github sometime early next week (currently a decent sized chunk of this idea is implemented in another project, which I want to fork it off into its own thing).

[2016-05-28 11:00] konrad commented on #36
Great, thanks @solstag!

[2016-05-28 11:19] cmassimo commented on #48
Ok, I'll probably be there on friday 9-5 (CEST) but I'll keep an eye on github in the meanwhile.

[2016-05-28 12:14] solstag commented on #36
You're more than welcome, I'm sure our resources (meaning both are ours!) will profit from each other ! =)

(I just not entirely convinced of why one would rather develop this kind of resource on github rather than on a wiki, though I totally get the usefulness of the issue system compared to the awful mediawiki discussion system. Perhaps we should find a way to combine both.)

[2016-05-28 21:45] konrad commented on #36
It really depend on the target format (which we first have to define) but the reason for git/GitHub is IMO easier resolution/avoidance of editing conflicts, more flexibility regarding markup and output format. Plus easier forking as well the mentioned tissue tracker. Hacking all this e.g. into Mediawiki is possible but so much more effort.

[2016-05-29 06:57] Deborah-Digges commented on #38
Hello @henrykironde. I'm interested to be a part of the Mozilla Science Global Sprint for the EcoData Retriever project

[2016-05-29 22:01] henrykironde commented on #38
@Deborah-Digges this is very good. We are definitely so happy that you are interested to contribute to our project.

[2016-05-29 22:40] acabunoc opened #49 "relative velocity"
**[ Project Lead ]** nalaka
**[ GitHub Repo ]**
**[ Track ]** Open Educational Resource: you're collaborating on curriculum or other educational resources
**[ Level ]** Beginner
**[ Timezone ]**

### Description
one object moves in the flow water and its relative velocity ,two objects relative velocity

***
## Want to Contribute?
Join us at the [Global Sprint June 2-3](https://www.mozillascience.o

[2016-05-30 12:45] aleimba commented on #36
Thanks @solstag for the material!

There will be two sites where we will be available in person during the sprint:

1. On Thursday @matthiasfromm will be at the sprint-site in [Berlin](https://ti.to/mozilla-science/gs2016-berlin)
2. On Friday @aleimba and @konrad will be available at the [University of Würzburg](https://www.uni-wuerzburg.de/en/ueber/university/) (exact location to be announced soo

[2016-05-30 13:05] acabunoc opened #50 "Tool to assess accessibility of a list of references"
**[ Project Lead ]** John
**[ GitHub Repo ]**
**[ Track ]** Looking to inspire someone to build such a tool
**[ Level ]** Advanced

### Description
Use-case:  An author of a new scholarly article has assemble a list of references, possibly in Zotero or other bibliographic tool, possibly just in Word.  Author supports Open Access and so wants to assess which of her/his referenced sources are going

[2016-05-30 13:05] acabunoc opened #51 "MODERFOREST"
**[ Project Lead ]** Antonio, Eduardo & Rafael
**[ GitHub Repo ]**
**[ Track ]** Tools: you are building a tool others can help you build
**[ Level ]** Advanced

### Description

***
## Want to Contribute?
Join us at the [Global Sprint June 2-3](https://www.mozillascience.org/global-sprint-2016). Leave a comment in this issue to let the project lead know you're interested in contributing during #m

[2016-05-30 13:08] acabunoc commented on #50
Hey John! This sounds a lot like this project: https://github.com/mozillascience/global-sprint-2016/issues/13

[2016-05-30 17:41] amelgh commented on #14
Hi Steph,
Any updates?

Thanks

Amel

[2016-05-30 21:28] Andromedanita commented on #24
What are the coding requirements for being part of this group?

[2016-05-31 01:20] JGDove99 commented on #50
Similar, but taking it to a much broader level.  #13 assesses what percentages of a reference list represent articles available on PubMed Central.  That's one very important repository but primarily focused on medical science subjects.  #50 would work across all disciplines and will most likely involve use of a general search engine (probably not Google Scholar because GS has no API and prevents s

[2016-05-31 03:56] cdersky commented on #15
I'd like to work on this project during the global sprint later this week. Is this team working on east coast time (EDT)?

[2016-05-31 04:57] drammock commented on #15
@cdersky I'm on Pacific daylight time, but I'm just a humble volunteer... not sure about the leaders' time zones.

[2016-05-31 08:07] aleimba commented on #50
I like the idea. Maybe you could also approach OA publishers, a small OA icon in their reference lists (next to OA references) might be nice. But I don't know if that is feasible.

[2016-05-31 08:15] brucellino commented on #50
first of all, general comment - I don't think a single thread issue is going to be the right medium for this discussion, which is tres interesting. Take that as you may :smiley_cat:

Secondly, have you considered using the DataCite APIs to immplement this tool ? Resolving objects via DOI and then parsing the metadata (which should usually be entirely consumable) to extract cited objects via DOI sh

[2016-05-31 09:57] josmas commented on #15
That's great news!
Abby is on EDT and I am on `BST === GMT+1`.

[2016-05-31 10:32] aleimba commented on #36
Hi @acabunoc,

we've completed the checklist to become a featured project. Please have a look at our repo for the review: https://github.com/OKScienceDE/Open_Science_101

Thanks,
Andreas

[2016-05-31 11:36] JGDove99 commented on #50
Andreas,
    I completely agree.  LinkResolvers, which were the breakthru standard
for ease-of-use access in the behind-the-fire-wall world of the 90s, have a
feature which is an API which can pre-test whether or not clicking on the
link is going to reveal full-text, on-line, access so the library-product
can show a different icon if full-text is going to be available.  [Saves
enormous time when e

[2016-05-31 11:40] JGDove99 commented on #50
1.  Not all citations have DOIs.
2.  Even those that do, DOIs are under the control of the publisher of the
article-of-record, and so for most traditional journals they rarely provide
a path to a shared version of the article. 79% of scholarly publishers
acknowledge that the author may share a version of their article, but they
are not [yet] making it easy for researchers to find those shared
arti

[2016-05-31 12:05] bmkramer commented on #50
Very interesting project - I'm running into this at the moment in a side project I'm doing, wanting to check a list of doi's (in casu Sci-Hub downloads) for green OA availability.

I won't be able to join this sprint project as I have my own to attend to :-) but will be following with interest.

One additional source (in addition to the dissem.in api and the OA button already mentioned) might be t

[2016-05-31 12:34] acabunoc commented on #36
Amazing @aleimba! I'll take a look today :)

[2016-05-31 13:21] Daniel-Mietchen opened #52 "What can X do to encourage Open Science?"
Let X be a stakeholder in research - be it a researcher, a research institution, a research funder, a research library, a scholarly journal, a research database, a repo of research-relevant code, a citizen science project, a student, you name it.

My question, then, is what X can do to encourage Open Science, i.e.
* what actions they can take themselves to experiment with open approaches to sharin

[2016-05-31 13:31] acabunoc opened #53 "What can X do?"
**[ Project Lead ]** @Daniel-Mietchen
**[ GitHub Repo ]**
**[ Track ]** Open Educational Resource: you're collaborating on curriculum or other educational resources, Policy & Practice
**[ Level ]** Intermediate

### Description
https://github.com/mozillascience/global-sprint-2016/issues/52

***
## Want to Contribute?
Join us at the [Global Sprint June 2-3](https://www.mozillascience.org/global-spr

[2016-05-31 13:32] acabunoc commented on #52
Hey! I'm going to reconcile this with #53 :) THanks @Daniel-Mietchen!

[2016-05-31 13:33] #52 closed

[2016-05-31 13:49] Daniel-Mietchen commented on #53
I confirm that I'll be around for about 9am-5pm CEST (i.e. UTC-2) on June 2 and 9am-5pm EDT (i.e. UTC+4) on June 3. Since the project does not necessarily involve coding and already has [some web presence](https://openscience.ub.uni-bielefeld.de/tag/stakeholders) (albeit a very basic one), I have not started a GitHub repo for it yet, but might do so, or just contribute to https://github.com/OKScie

[2016-05-31 15:02] ajspadial commented on #51
Hi,
we'll be available 10-18 CEST June 2. We're not sure if we'll be available June 3 fulltime, but I will be available on irc, getty and mail 8-15 CEST June 3.
We'll notify any availability change for June 3 along de sprint.

[2016-05-31 15:03] ajspadial commented on #51
I know the exercises should be done BEFORE de sprint, but before of the shortime we recruit this project our task for the sprint will be to complete them all and start creating a community for interested users and/or developers.

[2016-05-31 15:04] ajspadial commented on #51
We'll launch also the **advanced** issues we are getting stuck with. Maybe other #mozsprint projects or participants have solved them before.

Thanks @acabunoc

[2016-05-31 17:51] acabunoc opened #54 "Birding"
**[ Project Lead ]** @Akronix
**[ GitHub Repo ]** https://github.com/Akronix/birding
**[ Track ]** Tools: you are building a tool others can help you build
**[ Level ]** Beginner
**[ Timezone ]** CEST

### Description
This project aims to develop an intuitive, portable, extensible and easy to use web Application for tracking birds from GPS data.

***
## Want to Contribute?
Join us at the [Global S

[2016-05-31 18:43] acabunoc opened #55 "Sun Risks: Visualizing the Statistics"
**[ Project Lead ]** @SASUSA
**[ GitHub Repo ]**
**[ Track ]** Data visualization
**[ Level ]** Beginner

### Description
Creative data visualizations for the following sun risk statistics to accompany this published piece: http://www.stats.org/sun-risk-skin-cancer-different-groups/.
-	SEER Stat Fact Sheets: Melanoma of the Skin: http://seer.cancer.gov/statfacts/html/melan.html
-	As the American C

[2016-05-31 19:42] acabunoc opened #56 "Mapping Registered Clinical Trials in the US"
**[ Project Lead ]** @SASUSA
**[ GitHub Repo ]**
**[ Track ]** Tools: you are building a tool others can help you build, Open Data: you have data others can use and play with during the sprint
**[ Level ]** Beginner

### Description
Mapping registered clinical trials and their outcomes in the U.S., using clinical trial open data available at clinicaltrials.gov.

A map exists on their site, here, h

[2016-05-31 20:34] nutsci commented on #50
You can scrape Google Scholar from a chrome extension- I do it for mine. Although if you load too frequently Google Scholar will still serve a captcha. https://chrome.google.com/webstore/detail/lazy-scholar/fpbdcofpbclblalghaepibbagkkgpkak It checks GScholar, PubMed, EuropePMC, and DOAI in search of free texts. Note: I've found that many of Google Scholar's "free texts" aren't always free, which i

[2016-05-31 20:39] RMHogervorst commented on #19
Very nice idea but how does this package differ from [git2r](https://github.com/ropensci/git2r)?

[2016-05-31 21:01] RMHogervorst commented on #19
Alright that makes sense! Thanks. Will you work on this project in the
sprint of 2 and 3 june?
Op 31 mei 2016 22:58 schreef "Brian M. Bot" <notifications@github.com>:

[2016-06-01 05:56] andrenarchy commented on #43
Hey there, it's André from @paperhive. I just wanted to let you know that I'm in Vancouver on June 2/3 and I'm also available for anything related to PaperHive. I'd love to join the local sprint in the evening. Let me know if you're around or if you're interested!

[2016-06-01 06:22] jcolomb commented on #42
timezone is GMT+2 Berlin time.

[2016-06-01 10:02] SOFTowaha commented on #24
Hello @RaoOfPhysics, It'd be so nice of you if you could do this for this project; I'm stuck in this project due to lack of potential people :)

[2016-06-01 10:04] SOFTowaha commented on #24
Hello @Andromedanita , are you interested in this project? It would be nice if you can share your thoughts with me over email or here. If you want to do the coding parts, you are welcome; I will guide :)

[2016-06-01 11:10] weaverbel commented on #34
Hi @acabunoc I've added a CONTRIBUTING.md file to https://github.com/data-lessons/librarycarpentry as well as a Code of Conduct. Along with the README, that should be enough to get people going. Looking forward to kicking it off in under 12 hours!

[2016-06-01 11:56] blahah commented on #46
I'll be present for both days, BST timezone :)

[2016-06-01 12:18] josmas commented on #15
An additional gihub repo for this project can be found at [badgr-client](https://github.com/josmas/badgr-client/issues). Labels as 'good first task' and 'hints provided' should be best to get started.

[2016-06-01 13:32] Andromedanita commented on #24
Hi,
What are the coding languages used in this project? I am know Python and some C++.
Please let me know.

Regards,
Anita

Sent from my iPhone

[2016-06-01 13:43] acabunoc commented on #43
Hey @andrenarchy - @joeyklee is hosting the Vancouver site for the sprint. If you haven't synced up already, he might be able to help you get involved at that site!

[2016-06-01 13:43] RaoOfPhysics commented on #24
I'll share this on the CERN Study Group Gitter room and see if anyone wants to pick up on it.

[2016-06-01 13:46] acabunoc commented on #40
Does someone want to lead this project during #mozsprint? Comment here to let me know!

If I hear nothing before the event starts, I'll close this. Thanks for submitting @johav :)

[2016-06-01 14:57] mandar2812 commented on #26
Hi, I am available for support regarding DynaML during this year's mozsprint.

[2016-06-01 15:15] RaoOfPhysics commented on #30
@brucellino: I've updated the OP with links to the Gitter and Vidyo rooms! Hope to chat with you tomorrow.

[2016-06-01 15:43] careysensci commented on #55
Excited to see what we can create tomorrow. Carey Reed from SASUSA will be available to answer any questions June 2 & 3 ET. Thanks so much Mozilla Science Lab for hosting such a great event!

[2016-06-01 15:44] careysensci commented on #56
Excited to see what we can create tomorrow. Carey Reed from SASUSA will be available to answer any questions June 2 & 3 ET. Thanks so much Mozilla Science Lab for hosting such a great event!

[2016-06-01 15:51] RaoOfPhysics commented on #44
Hey, @sabgaby! Didn't realise you were running one of the projects yourself. :) I've added you to the list of projects we're hosting at CERN and have created a Vidyo room for you to use for video calls during the sprint: https://vidyoportal.cern.ch/flex.html?roomdirect.html&key=jTroOCf3r2pDCTv1NTZvOvrk2s Feel free to share it in your Gitter chat etc.

[2016-06-01 16:20] joeyklee commented on #43
hey @andrenarchy! if you're in Vancouver, do sign up here https://ti.to/mozilla-science/gs2016-vancouver and come on down to the Mozilla Vancouver space, downtown. We've got a nice big room :)

[2016-06-01 17:01] stephwright commented on #14
Hi Amel!
So yes, updates!
Alright, Primers 1 & 2 have been posted in the repo in the Materials/Primers folder.
What we'd like to ask for form sprinters (and I'll create these as issues) is that they read through primers and
1) Provide feedback on:
* anything that isn't clear
* typos
* how the primer flows
* anything missing
* ideas for how to include interactive elements so not just a written docu

[2016-06-01 18:42] acabunoc commented on #36
Thanks @aleimba & team! I've updated the issue to link to all the great resources you created! 🎉 👍 I'll add your project as a featured project today!

[2016-06-01 18:47] mmarcello commented on #14
Hey Steph,

I'll be sprinting in Brooklyn tomorrow.  I'll make sure to review the primers in the morning and provide feedback.

Cheers,
Matt

[2016-06-01 18:50] konrad commented on #36
Yay, many thanks @acabunoc! :tada:

[2016-06-01 19:05] nifrasismail commented on #9
Initiated to adding things. This year we work on UTC time frame, Because of current profession in LK.

[2016-06-01 19:10] nifrasismail commented on #9
@acabunoc Could you please re-open this issue. I accidentally closed

[2016-06-01 19:10] nifrasismail commented on #9
Done Re-opened

[2016-06-01 19:11] Monsauce commented on #43
I'll be at the sprint in Toronto and would love to contribute!

[2016-06-01 19:49] vbarua commented on #24
This seems pretty interesting. Are there any more details for this project or is it still in early development?

[2016-06-01 19:56] Akronix commented on #54
Hi! I'm the project leader of [birding](https://github.com/Akronix/birding). @PedroLander is on the crew too.

We want to confirm that someone will be available on Thursday and Friday to review and answer questions. We cannot guarantee immediate answer on mornings since we are working, but we'll answer as soon as we have a break and we'll be pretty much available at evening from 19:00 ( UTC: 17:00

[2016-06-01 20:19] JGDove99 commented on #50
bmkramer,
   DOAI is really neat.  And does a lot of what's needed.  I notice that
it's run by CAPSH which also does DISSEM.IN, and is based on an academic
search engine:

[image: BASE Logo] <https://www.base-search.net/>
which I've not heard of before.  Thanks for this suggestion.
-john dove

On Tue, May 31, 2016 at 8:05 AM, bmkramer <notifications@github.com> wrote:

[2016-06-01 20:47] blahah commented on #50
BASE (already mentioned) and [CORE](https://core.ac.uk/) (don't think mentioned yet) will cover a lot of this ground.

[2016-06-01 21:13] acabunoc commented on #36
https://science.mozilla.org/projects/open-science-101

[2016-06-01 21:21] #49 closed

[2016-06-01 22:52] amelgh commented on #14
Super! Sounds great. Thanks for the updates Steph.
We will start sprinting in few hours.

Amel

[2016-06-01 23:45] vijayshankarv commented on #27
Would love to help out and learn more about deep learning!

[2016-06-01 23:54] tanah commented on #30
I would also love to lend a hand if needed! Another physicist on the room, by the way ;).

I'm available UTC+1 from 10 to 5.

[2016-06-02 02:29] #40 closed

[2016-06-02 02:47] andreabedini commented on #21
@andrewosh ping me on gitter when you are online

[2016-06-02 04:22] stephwright commented on #14
I'm headed to catch some :zzz: but have updated the README, Contributing, and added some issues.  Thought it might be best to do hybrid work in Google Docs and GitHub for this project.  Everyone should have access to the Google Docs.  I'll be back online at 9a Pacific from Seattle.  Have fun all! :tada: :balloon:

[2016-06-02 04:48] bharathi3p commented on #48
@schae234 I am interested to work on this problem (from mozilla science community). I am available on the gitter rooms -> https://gitter.im/mozillascience/community.

[2016-06-02 06:24] sjackman commented on #29
See also https://github.com/Linuxbrew/homebrew-science/issues/2

[2016-06-02 06:57] aleimba commented on #36
that's great @acabunoc, thanks a lot!

[2016-06-02 08:34] pherterich commented on #36
I'm happy to give your repo a look today and tomorrow to see if I have any additional ideas. A shame that I haven't looked at this earlier, otherwise I could have made a trip back home and joined you in Wuerzburg in person.

[2016-06-02 08:40] aleimba commented on #36
Hi @pherterich, sounds fantastic!

Too bad you can't join us in person, but we'll be available virtually for the whole #mozsprint: https://gitter.im/matthiasfromm/open-science-101?utm_source=share-link&utm_medium=link&utm_campaign=share-link

For any ideas, please see our issues: https://github.com/OKScienceDE/Open_Science_101/issues

And the milestone: https://github.com/OKScienceDE/Open_Science_

[2016-06-02 09:26] betatim commented on #11
I started working on https://github.com/everware/command-line

[2016-06-02 09:30] RaoOfPhysics commented on #30
@tanah: Great to see you in the Vidyo room earlier. :) We're having a discussion in https://gitter.im/OpenCosmics/opencosmics.github.io/ if you want to join. I'll also re-open our dedicated Vidyo room: https://vidyoportal.cern.ch/flex.html?roomdirect.html&key=yfrN8TbpzMBl8ntNCbkqqd5s4o

[2016-06-02 09:36] RaoOfPhysics commented on #11
@ibab, are you alive?! :P

[2016-06-02 09:45] jcolomb commented on #36
we work on a workshop for open science: https://public.etherpad-mozilla.org/p/Berlin_Open_Science

[2016-06-02 09:46] tanah commented on #30
@RaoOfPhysics Thanks! It's awesome to see so much people invested in the project. I'm going through the repository, reading the threads and setting everything up. I hope to get it done soon to start contributing.

[2016-06-02 10:07] FatmaZG commented on #14
Hi Steph, thanks !
All our group is connected to the Google Docs from Pasteur_Tunis.
Fatma.

[2016-06-02 10:07] aleimba commented on #36
@jcolomb thanks for the heads up. Would probably be a good idea to link up. You want to join our Gitter (see above)? Are you in Berlin at the moment?

[2016-06-02 12:01] andrewosh commented on #21
@andreabedini I'm around if you are! I think we're working from very different time zones (I'm in Copenhagen, but my project is signed up for the EST slot), but we should definitely coordinate

[2016-06-02 12:06] andreabedini commented on #21
hi @andrewosh, yeah, it's 8pm which is familty time :) I'll jump on gitter for a quick chat

[2016-06-02 12:18] acabunoc opened #57 "Zooniverse"
**[ Project Lead ]** @mrniaboc
**[ GitHub Repo ]** https://github.com/zooniverse
**[ Track ]** Citizen Science: you're looking for participants in your citizen science project
**[ Level ]** Beginner

### Description
The Zooniverse is the world’s largest and most popular platform for people-powered research. This research is made possible by volunteers—hundreds of thousands of people around the wor

[2016-06-02 13:50] Monsauce commented on #35
I'd like to contribute to this project too! In Toronto @Mozilla looking for work to do ;)

[2016-06-02 14:05] nishata commented on #57
Hi, I'd like to contribute to this project.

[2016-06-02 14:05] klanti117 commented on #57
hi, i would like to contribute to this project

[2016-06-02 14:07] cbahlai commented on #35
Hi @Monsauce ! Unfortunately we're having some organizational difficulties  related to a family emergency in East Lansing right now so I'm utterly lacking entry points. the idea is to take the code developed at https://github.com/cbahlai/lampyrid and expand the functions in it to use other degree day models, and build a package at https://github.com/cbahlai/dede

[2016-06-02 14:09] Monsauce commented on #35
No worries @cbahlai I'll see if I can work on some of the models and functions. All the best with the family stuff!

[2016-06-02 14:33] schae234 commented on #48
Hey @bharathi3p, just got into the lab! I should be in the gitter chat room all day! Working on opening some issues on github right now.

[2016-06-02 14:34] mrniaboc commented on #57
Hi guys,

That's amazing, thanks! There are a couple of ways you can help us out with documentation or play around on the Zooniverse Project Builder and make your own citizen science project.

Check out this repo for more details https://github.com/aliburchard/ProjectBuilderDocumentation, and I'll be here to answer any questions that come up.

[2016-06-02 14:44] JGDove99 commented on #50
Richard,
   I think http://dissem.in uses
CORE as part of its scoring of an author's published record. So that portion of testing accessibility could build on their code.

    For some use cases the search for "accessible" needs to throw a wide net. This means departmental websites and sites like ResearchGate and Academia.edu.

-john

Sent from my iPad.

[2016-06-02 16:27] badams19 commented on #24
Hi everyone,

I'm currently at the Seattle, WA site looking for a project to start on.  This one looked particularly interesting.  I have good experience with C++ (and Java, JavaScript if need be) and am hoping I can contribute in some way.  Is this project in action/ is there any way I can get involved?

[2016-06-02 17:26] andrenarchy commented on #43
Hey @joeyklee! I'm at the SSP conference today and tomorrow but maybe I can come around for saying hi. When will you be at the Mozilla office? I couldn't find anything on the website.

Great, @Monsauce! @lmatthia should be in touch with you. Let me know if I can help! :)

[2016-06-02 17:34] blahah commented on #50
@JGDove99 do you have a chat room where we can talk about this project? I have a load of ideas to offload before turning in for the evening :)

[2016-06-02 17:50] JGDove99 commented on #50
How about WhatsApp?  I'm at +1-781-964-2325.

-john

Sent from my iPad.

[2016-06-02 17:55] blahah commented on #50
@JGDove99 yes dissem.in does use CORE.

I think what you're describing is very much within the scope of dissem.in actually, and also within the scope of science fair. I'll describe below how I would go about solving the problem...

Briefly, I'd make a node.js module that, given some metadata about a scholarly document, tries to find all sources for that document and evaluate whether they are freel

[2016-06-02 18:12] JGDove99 commented on #50
Richard,
    Yes, you're on the right track. I've already worked with the dissem.in team to take a citation list in marked up format to score them for accessibility. And they are helping SJ Klein and myself on a project at MIT.
     However, there are some philosophical objections which keeps them from handling accessibility for some of the use cases I have in mind.  For example they do not consid

[2016-06-02 18:17] blahah commented on #50
ps I have to go and do parenting duty - will catch up again in the morning :)

[2016-06-02 18:29] blahah commented on #50
@JGDove99 I think I would agree with the dissem.in team that an article posted on Academia is not open unless it's under an open license. If it's just posted there without an open license, it technically possible to read it but it isn't open.

I'm interested in the problem of providing pragmatic access where open access is not available, but it's the long tail of the problem and has much lower pay

[2016-06-02 18:33] rsdoiel commented on #34
FYI: I am creating an intermediate lesson around shell, curl and web API. The repository I am working from is https://github.com/caltechlibrary/library-shell-curl-and-api

[2016-06-02 19:05] jayqi commented on #44
Hi, was browsing some projects and saw a few easy issues in the tracker for this one, so I made some pull requests.

[2016-06-02 19:34] JGDove99 commented on #50
There are use cases where the world is a better place when a curious mind is not unnecessarily fettered from reading something that an author wants them to have free access to.

Those use cases also present the opportunity to educate a scholar about better ways to share. My main scheme and a couple others easily imagined allows both. SciHub is only STEM. The article my son needs (a four page artic

[2016-06-02 19:43] DiannaB42 commented on #47
What can I do to contribute to this project?

[2016-06-02 19:56] joeyklee commented on #47
Hi @DiannaB42 - our project repo is here: https://github.com/joeyklee/bec-explorer

would you like to hop on skype to get you up to speed of where we're at?

[2016-06-02 19:59] joeyklee commented on #47
@DiannaB42  I'm at joey.k.lee or you can join the gitter chat at: https://gitter.im/joeyklee/bec-explorer?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge

[2016-06-02 20:41] stephwright commented on #14
You all are fantastic! Your suggestions and work on this is greatly appreciated!  Hosting the Seattle site has kept me from participating as much today as I would like but am trying to slowly work my way through all the comments and edits.  Been posting some info in the Gitter room too.

[2016-06-02 21:23] joeyklee commented on #43
Hi @andrenarchy ! We're here from 9am to 5pm today (june2) and tomorrow! Come on by! You can ring 209 on the buzzer downstairs :)

https://www.google.ca/maps/place/Mozilla/@49.2824658,-123.1091908,15z/data=!4m2!3m1!1s0x0:0x2372f60e83d7f88d?sa=X&ved=0ahUKEwjr87C6o4rNAhUMElIKHRjxBC0Q_BIIdTAK

[2016-06-02 21:45] solstag commented on #36
Just remembered another useful resource... the book [Open Science, Open Issues](http://livroaberto.ibict.br/handle/1/1061) was also originally written in Portuguese, but was professionally translated into English. The chapter on Open Hardware by Rafael Pezzi and the last chapter on guidelines (by me) I believe are particularly useful for OpenScience101. As anything over a year old nowadays they ne

[2016-06-02 22:49] QuLogic commented on #7
The GitHub Repo link at the top has a typo: "gihub" instead of github.

[2016-06-02 22:50] rowanc1 commented on #7
Thanks fixed. 👍

[2016-06-02 23:49] andrenarchy commented on #43
Perfect! Hopefully I'll find a slice of time for coming around tomorrow. :)

[2016-06-03 03:12] joeyklee commented on #43
looking forward to it @andrenarchy - just holler when you arrive!

[2016-06-03 13:34] aleimba commented on #36
Hey @solstag, thanks for the contribution. I see you're very committed on open hardware ;-), but that's great. Would you like to include it yourself in our material collection on the Open Science Q&A site? https://openscience.uni-bielefeld.de/898/which-materials-exist-introducing-specific-audiences-science

This is born out of our issue https://github.com/OKScienceDE/Open_Science_101/issues/5

[2016-06-03 15:31] Monsauce commented on #35
@cbahlai Just checking in to see if there are any particular issues you want me to work on today. I did some minor fixes to the code yesterday.

[2016-06-03 15:49] KairaVillanueva commented on #57
I would like to work on the documentation. May you please provide more details regarding these bulleted points:

   - document what still needs documenting (help much appreciated!)
  - figure out how to more effectively parse/organize the existing tutorial

[2016-06-03 15:57] cbahlai commented on #35
This is AMAZING thank you @Monsauce ! I'll go through and confirm and merge in a bit. My students are furiously working on the manuscript related to this work right now- would you like to see it? it's here: https://www.overleaf.com/4136214wkxzyp#/12164654/

It's a bit messy right now- I'm writing the analysis methods directly from the code- in that I literally pasted it in and I'm reformatting the

[2016-06-03 16:00] karanverma commented on #57
I am interested to contribute in.
On Jun 3, 2016 9:19 PM, "Kaira Villanueva" <notifications@github.com> wrote:

[2016-06-03 16:11] Monsauce commented on #35
Definitely will read. I can add notes to the pdf version of the manuscript if you would like!

[2016-06-03 17:06] eugene-barsky commented on #34
I will help with the code of conflict as well

[2016-06-04 21:16] chsasank commented on #27
Hi,
I have written a blog post along with repo of code (with @spMohanty 's encouragement) here:
the blog post: http://chsasank.github.io/plantvillage-tutorial.html
repo: https://github.com/chsasank/plantvillage-challenge

Although the code itself doesn't get you started on torch, it helps you achieve very good results,

Sasank.

[2016-07-04 19:13] bmkramer commented on #50
@JGDove99 @blahah As a step towards my own use case (Sci-Hub data), but possibly also of interest here, I've now cobbled together a (crude) R-script that queries the Dissemin API for a list of DOIs and returns a table with information on both OA availability (in so far as determined by Dissemin) and publisher policies regarding sharing preprint, postprint and publisher versions (also from Dissemin

[2016-10-11 09:36] #54 closed

[2017-09-29 12:29] gedankenstuecke commented on #10
Doing the autumn GH cleanup. I think last year's global sprint is over now 😉

[2017-09-29 12:29] #10 closed

[2018-10-29 16:37] #33 closed

[2019-03-30 17:44] ghost opened #58 "CODE_OF_CONDUCT.md file missing"
As of January 1 2019, Mozilla requires that all GitHub projects include this [CODE_OF_CONDUCT.md](https://github.com/mozilla/repo-templates/blob/master/templates/CODE_OF_CONDUCT.md) file in the project root. The file has two parts:

1. Required Text - All text under the headings *Community Participation Guidelines and How to Report*, are required, and should not be altered.
2. Optional Text - The